{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Title{% endblock %}</title>
  </head>
  <body>
    {% include 'main/navbar.html' %}
    <!-- This includes the navigation bar, which allows users to navigate between pages -->

    <div class='content'>
      {% block content %} 
      <!-- This block will be replaced by the content of individual pages extending this template -->
      replace me 
      {% endblock %}
    </div>

    <footer>
      <p>&copy; 2025 Your Website Name. All Rights Reserved.</p>
    </footer>
    <!-- This footer section provides copyright information and can include additional links -->
  </body>
</html>
